
@media (max-width: 1071px) {
    #mygifImage {
        width: 30%;
        height: 52% !important;
        margin-left: -2rem;
    }
    #welcome {
        width: 37% !important;
        left: 34%;
        
    }
}



@media (max-width: 1011px) {
   

    .section-Welcome p {
        font-size: 250%
    }

    #mygifImage {
        width: 35%;
        height: 45% !important;

    }

    #welcome {
        width: 30% !important;
        left: 36%;
        
    }
}



@media (max-width: 990px) {
    #pcard {
        font-size: 98% !important;
        text-align: justify;
        margin-top: -8%;
    }

    #myCard {
        width: 130% !important;
        height: 86% !important;
    }

    #js {
        width: 35%;

    }

    #angular {
        width: 32%;
    }

    #html {
        width: 16%;
    }

    #css {
        width: 16%;
    }

    #bulma {
        width: 10%;
    }

    #boots {
        width: 18%;
    }

    .col.graduation {
        display: none;
    }

    #sobreGrad h3 {
        text-align: center !important;

    }

    #sobreGrad {
        text-align: justify !important;

    }

    #cardEmail {
        width: 30%;
        height: 12%;
        margin-left: 35%;
    }
    #whats {
        margin-left: 0.8rem;
        margin-top: -0.3rem;
    }
    .pwt{
        margin-top: -0.2rem;
    }
}

@media (max-width: 771px) {
    #cardEmail {
        width: 40%;
        height: 12%;
        margin-left: 31%;
    }

  
}


@media (max-width: 767px) {

    #html {
        margin-left: 1rem !important;

    }
}

@media (min-width: 500px) {
    #welcome {
        width: 35% !important;
        left: 34%;
        font-size: 90%;
    }
    
}


@media (max-width: 518px) {

    #html {
        margin-left: 0.2rem !important;

    }
}


@media (max-width: 531px) {
    #boots{
        width: 23%;
        margin-left: 1.5rem;
        margin-top: 2rem;
    }

    #js {
        width: 37%;

    }

    #angular {
        width: 34%;
    }

    #html {
        width: 18%;
    }

    #css {
        width: 18%;
    }

    #bulma {
        width: 14%;
    }

 
}
@media (max-width: 461px){
    #boots{
        width: 25% !important;
        margin-left: 1.5rem;
        margin-top: 1.5rem;
    }

    #js {
        width: 39%;

    }

    #angular {
        width: 36%;
    }

    #html {
        width: 20%;
    }

    #css {
        width: 20%;
    }

    #bulma {
        width: 14%;
    }
}

@media (max-width: 323px){
    #bulma{
        margin-top: 1.5rem;
    }
}
    

@media (max-width: 500px) {
    #another_gifimage {
        width: 80% !important;
       margin-top: -3rem;
       margin-left: 3rem !important;
    }


}

@media (max-width: 570px) {
    #sobreGrad p{
       margin-right: 0.6rem;
    }


}

@media (max-width: 494px) {
    #cardEmail {
        width: 50%;
        height: 12%;
        margin-left: 26%;
    }

}


@media (max-width: 451px) {
    #cardEmail {
        width: 60%;
        height: 12%;
        margin-left: 22%;
    }

}

@media (min-width: 792px) {
    .another_section-aboutMe {
        display: none;
    }

}

@media (max-width: 792px) {
    #another_gifimage {
        width: 55%;
    }

    .section-aboutMe {
        display: none;
    }
}


@media (max-width: 812px) {

    #mygifImage {
        width: 32%;
        height: 40%;

    }
}

@media (max-width: 750px) {
    #welcome {
        width: 32% !important;
        left: 36%;
    }

    .section-Welcome p {
        font-size: 230%
    }

    #mygifImage {
        width: 30%;
        height: 25%;

    }
}

@media (max-width: 773px) {
    #pcard {
        font-size: 98% !important;
        text-align: justify;
        margin-top: -8%;
    }

    #myCard {
        width: 130% !important;
        height: 86% !important;

    }




}





@media (max-width: 500px) {
    #welcome {
        width: 50% !important;
        left: 29%;
        border-width:  4px 4px 4px 4px !important;
        
    }

    .section-Welcome p {
        font-size: 210%
    }
    
}
@media (max-width: 450px){
    #another_text-about{
        margin-right: 0.4rem;
        margin-left: 2.4rem;
    }
    #tile_page-Welcome{
        margin-left: -1rem ;
    }
}


@media (max-width: 575px) {
#another_text-about{
    margin-right: 0.4rem;
    
   
}
#another_myCard{
    width: 107% !important;
    font-size: 95.1%;
    
}
}

